{% if include.country.title != null %}
  {% assign country_id = include.country.title | slugify %}
  {% assign data = site.data.countries[country_id] %}
  {% capture date_str %}
  <span class="visit-list">
    {% for date in data.properties.dates %}
      | {% include visit-date.html date=date %}
    {% endfor %}
  </span>
  {% endcapture %}
  <li>
    <a href="{{ include.country.url }}">{{ include.country.title }} {{ date_str | remove_first: '|' | split: '|' | array_to_sentence_string }}</a>
    {% assign excerpt = include.country.excerpt | strip_newlines %}
    {% unless excerpt == '' %}
      <p class="excerpt">{{ excerpt | remove: '<p>' | remove: '</p>' }}</p>
    {% endunless %}
  </li>
{% endif %}

