{% if include.country.title != null %}
  {% assign country_id = include.country.title | slugify %}
  {% assign data = site.data.countries[country_id] %}
  {% capture date_str %}
  <span class="visit-list">
    {% for trip in site.data.trips %}
      {% assign trip_hash = trip[1] %}
      {% for country in trip_hash.properties.countries %}
        {% if country.name == country_id %}
          {% for date in country.dates %}
            | {% include visit-date.html date=date %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </span>
  {% endcapture %}
  <li>
    <a href="{{ include.country.url }}">{{ include.country.title }} {{ date_str | remove_first: '|' | split: '|' | array_to_sentence_string }}</a>
    {% if include.country.photos %}
      <div class="photo-albums--preview">{% include photos.html photos=include.country.photos %}</div>
    {% endif %}
    {% assign excerpt = include.country.excerpt | strip_newlines %}
    {% unless excerpt == '' %}
      <p class="excerpt">{{ excerpt | remove: '<p>' | remove: '</p>' }}</p>
    {% endunless %}
  </li>
{% endif %}
