    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.8/highcharts.js"></script>
    <script src="/bower_components/slick-carousel/slick/slick.js"></script>
    <script src="/bower_components/fraction.js/fraction.min.js"></script>
    <script src="/bower_components/Leaflet.MakiMarkers/Leaflet.MakiMarkers.js"></script>
    <script src="/bower_components/leaflet-omnivore/leaflet-omnivore.min.js"></script>
    <script src="/bower_components/leaflet-search/dist/leaflet-search.min.js"></script>
    <script src="/js/jquery.whenall.js"></script>
    <script src="/js/jquery.cachedscript.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/slideshow.js"></script>
    <script src="/js/charts.js"></script>
  </body>
</html>
