<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
  {% if page.title %}
    {% capture title %}{{ page.title }} - {{ site.title }}{% endcapture %}
  {% else %}
    {% capture title %}{{ site.title }}{% endcapture %}
  {% endif %}

  {% capture site_description %}{{ site.description }}. Visited {{ site.data.countries | size }} countries of the world so far.{% endcapture %}
  {% if page.description %}
    {% assign description = page.description %}
  {% elsif page.type == "trip" %}
    {% assign trip_id = page.id %}
    {% assign trip_data = site.data.trips[trip_id] %}
    {% if trip_data.properties.description %}
      {% assign description = trip_data.properties.description %}
    {% else %}
      {% assign description = site_description %}
    {% endif %}
  {% elsif page.excerpt %}
    {% assign description = page.excerpt | remove: '<p>' | remove: '</p>' | strip_newlines %}
  {% else %}
    {% assign description = site_description %}
  {% endif %}
  {% if page.type == 'post' %}{% assign type = 'place' %}
  {% elsif page.type == 'trip' %}{% assign type = 'article' %}
  {% else %}{% assign type = 'website' %}
  {% endif %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="http://{{ site.base_path }}/images/profile.jpg">
    <meta property="og:type" content="{{ type }}">
    <meta property="og:url" content="http://{{ site.base_path }}{{ page.url | remove: 'index.html' }}">
    <meta property="og:locale" content="en_US" />
  {% if page.type == 'post' %}
    <meta property="article:author" content="https://www.facebook.com/oskar.scholdstrom">
  {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.author.googleplus }}">
    <link rel="stylesheet" href="/stylesheets/normalize.css" media="screen">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" media="screen">
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" media="screen">
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css" media="screen">
    <link rel="stylesheet" href="/bower_components/leaflet-search/dist/leaflet-search.min.css" media="screen">
    <link rel="stylesheet" href="/bower_components/tinytooltip/src/jquery.tinytooltip.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/custom.css" media="screen">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
