{% if include.trips %}
<ul class="trips">
{% for trip in include.trips reversed %}
  {% if trip[0] == null %}
    {% assign trip_id = trip %}
  {% else %}
    {% assign trip_id = trip | first %}
  {% endif %}
  {% assign trip_data = site.data.trips[trip_id] %}
  {% unless include.simple %}
    {% capture date_str %}
    <span class="visit-list">
      {% include visit-date.html date=trip_data.properties.date %}
    </span>
    {% endcapture %}
  {% endunless %}
  <li>
    <a href="/trips/{{ trip_id }}/#main">{{ trip_data.properties.name }}{{ date_str }}</a>
    {% unless include.simple %}
      {% assign photos = site.html_pages | where:"layout","trip" | where:"id",trip_id | map: "photos" | first %}
      {% if photos %}
        <div class="photo-albums--preview">{% include photos.html photos=photos %}</div>
      {% endif %}
    {% endunless %}
    {% if trip_data.properties.description and include.simple == nil %}
      <p class="excerpt">{{ trip_data.properties.description }}</p>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}
