html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

a.map-bottom-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8vh;
  z-index: 1000;
  display: block;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  @media (min-width: 860px) {
    line-height: 6vh;
  }
}

.profile-photo { text-align: center; }
.profile-photo img {
  border-radius: 50px;
  width: 100px;
}

.page-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #6EB7DD;

  h2 {
    margin: 0;
    position: absolute;
    right: .5em;
    bottom: 1em;
    a { color: #fff; }
    @media (max-width: 50rem) {
      font-size: 1rem;
      bottom: 2em;
    }
  }
}

.main-content > div { position: relative; }

#world-map {
  height: 100%;
  background: inline-image('../dist/images/custom/world-map-small.jpg') no-repeat center center fixed;
  background-size: cover;
}

.site-footer > div, .main-content {
  padding: 1rem;
  margin: 0 auto;
  @media (min-width: 50rem) {
    padding: 2rem 6rem;
    margin: 0 auto;
    max-width: 64rem;
  }
}

.site-footer {
  background-color: #333;
  padding-top: 0;
  font-size: 12px;
  &, a, a:hover { color: #fff; }
  ul, ol { padding-left: 1.5em; }
}

.group {
  @media (min-width: 50rem) {
    display: flex;
  }
  margin-left: auto;
  margin-right: auto;
}
.column {
  flex: 1;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  flex: 3;
  padding-right: 1rem;

  p a { text-decoration: underline; }
}
.sidebar {
  font-size: 12px;
  flex: 1;
  table {
    &, tbody { width: 100%; }
  }
  h4 { font-size: 1.3rem; }
  > div { margin-bottom: 1rem; }
  .expenditure-chart {
    @media (min-width: 50rem) {
      height: 300px;
    }
  }
}

h1 {
  margin-bottom: 0;
}

.post {
  .trips {
    margin-bottom: 1rem;
    ul {
      padding: 0;
      list-style-type: none;
    }
    h6, ul, li {
      float: left;
      font-size: 14px;
      margin: 0;
    }
    h6 { margin-right: 0.2em; }

    li {
      a, &:after { float: left; }
      &:after {
        content: ', ';
        margin-right: 0.2em;
      }
      &:last-child:after {
        content: '';
      }
    }
  }
}

.visit-list {
  ul & {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    .visit {
      color: #999;
      font-style: normal;
    }
  }
}

#commit-history {
  .date {
    color: #999;
  }
}

.excerpt {
  font-size: 12px;
  margin-top: 0;
}

.locations .type {
  color: #999;
  font-size: 10px;
}

.hidden {
  display: none;
}

.picasa-album {
  .open {
    color: #159957;
    text-decoration: underline;
    @media (max-width: 50rem) {
      position: absolute;
      top: -1em;
      right: -1em;
    }
  }
}

.expenditure-chart {
  height: 500px;
  &.front {
    height: 600px;
  }
}

iframe.embed {
  border: 0;
  width: 100%;
  min-height: 500px;
}
