---
layout: default
type: post
---
{% assign days_total = 0 %}
{% assign country_id = page.title | slugify %}
{% assign data = site.data.countries[country_id] %}
{% capture expenditures %}{% include expenditures.html trips=page.categories country=country_id days=days_total %}{% endcapture %}
{% assign has_expenses = expenditures | number_of_words %}

<div class="content">
  <h1>{{ page.title }}</h1>

  <div class="trips group">
    <h6>Trips:</h6>
    {% include triplist.html trips=page.categories simple=true %}
  </div>

  {{ content }}

  <div class="locations">
    <h3>Places I have visited in {{ page.title }}</h3>
    <ul>
    {% for location in data.features %}
      {% if location.properties.visited %}
        <li>
          <span class="name">{{ location.properties.name }}</span> <span class="type">{{ location.properties.type }}</span>
          {% if location.properties.description %}
          <p class="excerpt">{{ location.properties.description }}</p>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

</div>

<aside class="sidebar">
  {% include picasa-slideshow.html userid=site.author.picasa albumid=page.albumid albumtag=page.albumtag %}

  {% if data.properties.dates %}
  <div class="visits">
    <h4>Visits</h4>
    <table>
      <thead>
        <tr>
          <th>Arrival</th>
          <th>Departure</th>
          <th>Days spent</th>
        </tr>
      </thead>
      <tbody>
        {% for date in data.properties.dates %}
          {% assign start_date = date.start | date: '%Y-%m-%d' %}
          {% assign start_date_unix = start_date | date: '%s' %}
          {% assign end_date = date.end | date: '%Y-%m-%d' %}
          {% assign end_date_unix = end_date | date: '%s' %}
        <tr>
          <td>{{ start_date | date_to_string }}</td>
          <td>{% if date.end %}{{ end_date | date_to_string }}{% endif %}</td>
          <td>{% if date.end %}
            {% assign days = end_date_unix | minus: start_date_unix | divided_by: 86400 %}
            {{ days }} days
            {% assign days_total = days_total | plus: days %}
          {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  {% if has_expenses != 0 %}
  <h4>Cost per day</h4>
  <div class="expenditure-chart" data-title="" data-chart="perTagCPD" data-country="{{ country_id }}"></div>
  {% endif %}

  {% include expenditures.html trips=page.categories country=country_id days=days_total %}

  {% if page.tags != empty %}
  <div class="categories">
    <h4>Categories</h4>
    {% include categorylist.html categories=page.tags %}
  </div>
  {% endif %}
</aside>
