---
layout: default
type: trip
---
{% assign trip_id = page.id %}
{% assign data = site.data.trips[trip_id] %}

<div class="content">
  <h1>{{ page.title }}</h1>

  {% if data.properties.description %}
  <p class="preamble">{{ data.properties.description }}</p>
  {% endif %}

  {{ content }}

  <div class="countries">
    <h3>Countries visited during the trip</h3>
    <ul>
    {% for country in site.posts reversed %}
      {% if country.categories contains page.id %}
        {% include country.html country=country %}
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="locations">
    <h3>Places visited</h3>
    <p class="excerpt">Note this list contains all locations I've ever visited in the countries of this trip. Some locations might be from other trips. You can have a look at the troute on the map to see which locations I actually visited.</p>
    <ul>
    {% for country in site.data.trips[trip_id].properties.countries %}
      {% assign country_id = country.name | slugify %}
      {% assign country_data = site.data.countries[country_id] %}
      {% for location in country_data.features %}
        {% if location.properties.visited %}
        <li>
          <span class="name">{{ location.properties.name }}</span>
          <span class="type">{{ location.properties.type }} in {{ country.name }}</span>
          {% if location.properties.description %}
          <p class="excerpt">{{ location.properties.description }}</p>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
</div>

<aside class="sidebar">
  {% include picasa-slideshow.html userid=site.author.picasa albumid=page.albumid albumtag=page.albumtag %}

  {% assign data = site.data.trips[trip_id] %}

  {% if data.properties.date %}
  <div class="visits">
    <h4>Trip duration</h4>
    <table>
      <thead>
        <tr>
          <th>Arrival</th>
          <th>Departure</th>
          <th>Days spent</th>
        </tr>
      </thead>
      <tbody>
        {% assign start_date = data.properties.date.start | date: '%y-%m-%d' %}
        {% assign start_date_unix = start_date | date: '%s' %}
        {% assign end_date = data.properties.date.end | date: '%y-%m-%d' %}
        {% assign end_date_unix = end_date | date: '%s' %}
        <tr>
          <td>{{ start_date | date_to_string }}</td>
          <td>{% if data.properties.date.end %}{{ end_date | date_to_string }}{% endif %}</td>
          <td>{% if data.properties.date.end %}
            {% assign days = end_date_unix | minus: start_date_unix | divided_by: 86400 %}
            {{ days }} days
            {% assign days_total = days_total | plus: days %}
          {% endif %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}

  {% include expenditures.html trips=page.id country='' days=days_total %}
</aside>
