---
layout: default
type: trip
---
{% assign trip_id = page.id %}
{% assign data = site.data.trips[trip_id] %}
{% capture expenditures %}{% include expenditures.html trips=page.id country='' days=days_total %}{% endcapture %}
{% assign has_expenses = expenditures | number_of_words %}

<div class="content">
  <h1>{{ page.title }}</h1>

  {% if data.properties.description %}
  <p class="preamble">{{ data.properties.description }}</p>
  {% endif %}

  {{ content }}

  {% if has_expenses != 0 %}
  <h3>Cost per day</h3>
  <div class="expenditure-chart" data-title="" data-chart="perCountryCPD" data-trip="{{ trip_id }}"></div>
  {% endif %}

  {% capture blog_posts %}
    {% for post in site.posts reversed %}
      {% if post.categories contains page.id and post.type == 'blog' %}
        {% include post.html post=post %}
      {% endif %}
    {% endfor %}
  {% endcapture %}
  {% assign blog_post_count = blog_posts|strip|size %}
  {% if blog_post_count > 0 %}
    <div class="blog-posts">
      <h3>Blog posts</h3>
      <ul>
        {{ blog_posts }}
      </ul>
    </div>
  {% endif %}

  {% capture country_posts %}
    {% for country in site.posts reversed %}
      {% if country.categories contains page.id and country.type != 'blog' %}
        {% include country.html country=country %}
      {% endif %}
    {% endfor %}
  {% endcapture %}
  {% assign country_post_count = country_posts|strip|size %}
  {% if country_post_count > 0 %}
    <div class="countries">
      <h3>Countries visited during the trip</h3>
      <ul>
        {{ country_posts }}
      </ul>
    </div>
  {% endif %}

  <div class="locations">
    <h3>Places visited</h3>
    <p class="excerpt">Note this list contains all locations I've ever visited in the countries of this trip. Some locations might be from other trips. You can have a look at the troute on the map to see which locations I actually visited.</p>
    <ul>
    {% for country in site.data.trips[trip_id].properties.countries %}
      {% assign country_id = country.name | slugify %}
      {% assign country_data = site.data.countries[country_id] %}
      {% for location in country_data.features %}
        {% if location.properties.visited %}
        <li>{% include location.html location=location.properties country=country_data.properties %}</li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>

  {% include comments.html %}

</div>

<aside class="sidebar">
  {% include picasa-slideshow.html userid=site.author.picasa albumid=page.albumid albumtag=page.albumtag %}

  {% assign data = site.data.trips[trip_id] %}

  {% if data.properties.date %}
  <div class="visits">
    <h4>Trip duration</h4>
    <table>
      <thead>
        <tr>
          <th>Arrival</th>
          <th>Departure</th>
          <th>Days spent</th>
        </tr>
      </thead>
      <tbody>
        {% assign start_date = data.properties.date.start | date: '%y-%m-%d' %}
        {% assign start_date_unix = start_date | date: '%s' %}
        {% assign end_date = data.properties.date.end | date: '%y-%m-%d' %}
        {% assign end_date_unix = end_date | date: '%s' %}
        <tr>
          <td>{{ start_date | date_to_string }}</td>
          <td>{% if data.properties.date.end %}{{ end_date | date_to_string }}{% endif %}</td>
          <td>{% if data.properties.date.end %}
            {% assign days = end_date_unix | minus: start_date_unix | divided_by: 86400 | plus: 1 %}
            {{ days }} days
            {% assign days_total = days_total | plus: days %}
          {% endif %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endif %}

  {% include expenditures.html trips=page.id country='' days=days_total %}
</aside>
